
<h1>
  Create Company
</h1>
<br>
<br>


    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="control-label col-sm-1">Name</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Enter Name" name = "companyName"
                        type="text" id="inputName"[(ngModel)] = "company.companyName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-sm-1">Password</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Enter Password" name = "password"
                        type="password" id="inputPassword" [(ngModel)] = "company.password" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label col-sm-1">E-Mail</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Enter E-Mail" name = "email"
                        type="email" id="inputEmail"  [(ngModel)] = "company.email" />
            </div>
        </div>
       
        <p>    <button (click)="addCompany()" class="btn btn-success btn-lg">Add Company   <span class="glyphicon glyphicon-plus"></span></button>
    </form>
   