
<form class="form-horizontal">
  <div class="form-group">
    <label for="typeToGet" class="control-label col-sm-2">Enter Max Price </label>
    <div class="col-sm-2"><input class="form-control" placeholder="Price" name = "priceToGet"
      type="number" [(ngModel)] = "priceToGet"/>


 </div>
 </div>
 </form>

<table style="margin-left: 10px"  class="table table-striped"> 
  <thead>
    <tr>
      <th style="width: 5%"  > ID  </th>
      <th style="width: 5%"  > TITLE </th>
      <th style="width: 5%"  > START DATE </th>
      <th style="width: 5%"  > END DATE </th>
      <th style="width: 5%"  > TYPE </th>
      <th style="width: 5%"  > MESSAGE </th>
      <th style="width: 5%"  > PRICE </th>
      <th style="width: 15%"  > IMAGE </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of _coupons">
      <td  ><b>  {{c.id}} </b></td>
      <td  ><b>  {{c.title}} </b></td>
      <td  ><b>  {{c.startDate}} </b></td>
      <td  ><b>  {{c.endDate}} </b></td>
      <td  ><b>  {{c.type}} </b></td>
      <td  ><b>  {{c.message}} </b></td>
      <td  ><b>  {{c.price}} </b></td>
      <td  ><img src = {{c.image}}></td>
    </tr>
  </tbody>

  <button (click) = "getCouponsByPrice()" class="btn btn-success btn-lg"> Get Coupons <span class="glyphicon glyphicon-list-alt"></span></button>
</table>