
@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");


.navbar {
    background: #2094ba;
}

.nav a {
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

.dropdown {
    background: #2094ba;
}

.dropdown a {
    background: #2094ba;
}

.dropdown a:hover {
    background:#06394b
}

.navbar-brand {
    color: rgb(148, 207, 123);
}
