
<h1>
  Create Customer
</h1>
<br>
<br>


    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="control-label col-sm-1">Name</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Enter Name" name = "customerName"
                        type="text" id="inputName"[(ngModel)] = "customer.customerName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-sm-1">Password</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="Enter Password" name = "password"
                        type="password" id="inputPassword" [(ngModel)] = "customer.password" />
            </div>
        </div>
       
        <p>    <button (click)="addCustomer()"  class="btn btn-success btn-lg">Add Customer  <span class="glyphicon glyphicon-plus"></span></button>
    </form>
   